{{- if and (not .Values.onPrem.postgresql) (not .Values.global.postgres.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cloudscan.fullname" . }}-postgres-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cloudscan.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/hook-delete-policy: before-hook-creation
type: Opaque
stringData:
  host: {{ include "cloudscan.postgres.host" . | quote }}
  port: {{ .Values.global.postgres.port | default "5432" | quote }}
  username: {{ .Values.global.postgres.user | default "cloudscan" | quote }}
  password: {{ .Values.global.postgres.password | required "global.postgres.password is required when not using onPrem postgresql or existingSecret" | quote }}
  sslmode: {{ .Values.global.postgres.sslmode | default "disable" | quote }}
{{- end }}
